@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');
@import "tailwindcss";

:root{
  --tilt:15svh;
  --color-yellow:#e3f794;
  --curate-font-size:5.8rem;
}

@theme{

  --font-federant-regular:"Federant", serif;
  --font-cm-geom-regular:"CM Geom", serif;
  --color-primary: var(--color-yellow);
  --text-curate:var(--curate-font-size);
  /* --text-curate--line-height: .5rem;   */
  --text-curate--font-weight: 400; 
}

@font-face {
  font-family: "CM Geom";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/cmgeom-regular.woff2") format("woff2");
}

body{
  @apply w-full xl:w-full xl:max-w-[1440px] h-screen min-h-screen mx-auto
  overflow-x-hidden relative  
}

#root{
  @apply w-full h-full bg-white 
}

.is-active{
  z-index: 4;
}

.is-old{
  z-index: 3;
}

.intial-pos{
  position: absolute;
}


.bg-item{
  @apply font-federant-regular
}

.bg-item.is-active .img:first-child{
  -webkit-mask: url("#radial-mask-left");
  mask: url("#radial-mask-left");
}

.bg-item.is-active .img:last-child{
  -webkit-mask: url("#radial-mask-right");
  mask: url("#radial-mask-right");
}

.btn-controller{
  @apply absolute bottom-10! left-1/2 -translate-x-1/2 flex gap-4
}

.mouse-pointer{
  @apply bg-green-400 w-20 h-20 rounded-full  transition-transform duration-100 absolute z-25
}

.person-name{
  @apply absolute top-[47%] left-1/5 -translate-y-[47%] -translate-x-1/4 text-5xl text-white uppercase
}

.person-description:nth-child(2){
  @apply absolute top-1/20 right-8 -translate-y-1/6
}

.person-description:nth-child(3){
  @apply absolute top-1/2 right-8 -translate-y-3/4 uppercase
}

.person-description{
  @apply text-4xl text-white whitespace-pre-line w-100
}

.person-description .line {
  display: inline-block;
  overflow: hidden;
  /* color: #ddd8d8; */
}

.person-description .line > span {
  display: block;
  opacity: 0;
  transform: translateY(100%);
  will-change: transform;
}

.person-name{
  opacity: 0;
  transform: translateY(100%);
  will-change: transform;
  
}

.curation{
 --curation-progress:0.0;
}

.curation >.curate{
  @apply h-[70svh] lg:h-[150svh]  bg-primary relative  -mb-[40svh] lg:-mb-[110svh] 
}
/* .curation >.curate{
  @apply h-[70svh] lg:h-[150svh] -mb-[40svh] lg:-mb-[110svh] bg-primary relative 
} */

.curation .curate-inner{
  @apply text-center text-curate font-cm-geom-regular absolute top-1/2 left-1/2 -translate-1/2 text-nowrap
}
/* .curation .curate-inner{
  @apply w-full   text-center pt-[25svh] pb-[40svh] text-curate font-cm-geom-regular 
} */


.curation .curation-text{
  @apply w-fit h-fit
}


.curation >.curate{
  clip-path: polygon(0 var(--tilt),100% 0,100% 100%,0 100%);
  transform: translate(0%, -50%);
}

.curation >.your{
  @apply h-[70svh] lg:h-[150svh] bg-white -mb-[40svh] lg:-mb-[115svh]
}
/* .curation >.your{
  @apply h-[70svh] lg:h-[150svh] relative -mb-[40svh] lg:-mb-[115svh] bg-white
} */

.curation >.your{
  clip-path: polygon(0 0, 100% var(--tilt), 100% 100%, 0 100%);
  transform: translate(0%, -30%);
}

.lottie{
  @apply h-[60svh] lg:h-[90svh] relative bg-primary
}

.lottie svg{
  @apply absolute top-0 left-0
}

.lottie{
  clip-path: polygon(0 var(--tilt),100% 0,100% 100%,0 calc(100% - var(--tilt)));
}

@media screen and (min-width:1024px) {

  :root{
  --desktop-width:1512;
  --desktop-height: 982;
    --tilt:25svh;
    --curate-font-size:max(250px, min(100 * calc(250 / var(--desktop-width)) * 1vw, 100 * calc(250 / var(--desktop-height)) * 1svh));
  }

  .curation >.curate{
  clip-path: polygon(0 var(--tilt),100% 0,100% 100%,0 100%);
  transform: translate(0%, -37%);
}

.curation >.your{
  clip-path: polygon(0 0, 100% var(--tilt), 100% 100%, 0 100%);
  transform: translate(0%, -23%);
}

  .curation .section{
    @apply relative
  }
  .curation .section{
    translate: 0% 37%;
  }

  .curation >.curate .curate-inner{
  transform: translate(0%,-45%);
} 

.curation >.your .curate-inner{
  transform: translate(0%, -55%);
}

.curation >.lottie .curate-inner{
  --x-translation:0.0%;
  transform: translate(var(--x-translation),0%) !important;
} 

  /* .lottie{
  
  clip-path: polygon(0 var(--tilt),100% 0,100% 100%,0 calc(100% - var(--tilt)));
  
  } */
}

