@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Federant&display=swap');
@import "tailwindcss";

:root{
  --color-yellow:#e3f794;
  --curate-font-size:5.8rem;
  --p:0.0;
  --tilt:15svh;
  --min-h:calc(2.65rem + .3rem*2);
  --min-w:min(33vw,475px);
  --shift:.3rem;
  --footer-width:calc(min(1440px,100vw) - 15px);
  --footer-height:calc(50svh + var(--min-h) * 2);
  --grid-margin:calc(var(--shift) * 2);
  --min-scale:.4;
  --button-height:2.5rem;
  
}

@theme{

  --font-federant-regular:"Federant", serif;
  --font-cm-geom-regular:"CM Geom", serif;
  --color-primary: var(--color-yellow);
  --text-curate:var(--curate-font-size);
  --text-curate--font-weight: 400; 
   --font-dm-mono-regular: "DM Mono", monospace;
  --color-primary:var(--color-yellow);
  --color-button-color: #1a1915;
  --text-mono: 0.7em;
  --text-mono--line-height: 1.1rem; 
  --text-mono--letter-spacing: 0.3em; 
  --text-mono--font-weight: 500; 
}

@font-face {
  font-family: "CM Geom";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/cmgeom-regular.woff2") format("woff2");
}


body{
  @apply w-full xl:w-full xl:max-w-[1440px] h-screen min-h-screen mx-auto relative font-federant-regular
}


#root{
  @apply w-full min-h-full relative p-0 m-0
}


.is-active{
  z-index: 4;
}

.is-old{
  z-index: 3;
}

.intial-pos{
  position: absolute;
}

.bg-item{
  @apply font-federant-regular
}

.bg-item.is-active .img:first-child{
  -webkit-mask: url("#radial-mask-left");
  mask: url("#radial-mask-left");
}

.bg-item.is-active .img:last-child{
  -webkit-mask: url("#radial-mask-right");
  mask: url("#radial-mask-right");
}

.btn-controller{
  @apply absolute bottom-10! left-1/2 -translate-x-1/2 flex gap-4
}

.mouse-pointer{
  @apply bg-primary w-10 h-10 lg:w-20 lg:h-20 rounded-full  transition-transform duration-100 absolute z-20
}

.person-name{
  @apply absolute top-1/5 left-1/2 -translate-y-1/5 -translate-x-1/2 lg:top-[47.5%] lg:-translate-y-[47.5%] lg:left-1/4 lg:-translate-x-1/4 text-lg lg:text-xl xl:text-3xl text-white uppercase max-w-45 text-center
}

.person-description{
  @apply text-sm lg:text-xl xl:text-4xl text-white whitespace-pre-line w-50 lg:w-70 xl:w-100 xl:max-w-150
}

.person-description:nth-child(2){
  @apply absolute  lg:top-1/20 right-4 lg:right-8 hidden lg:block
}

.person-description:nth-child(3){
  @apply absolute top-1/2 -translate-y-1/2 lg:right-8  uppercase w-45 lg:w-70 xl:w-100 
}

.person-description:nth-child(3) .line{
  @apply text-center! lg:text-start! text-2xl
}


.person-description .line {
  display: inline-block;
  overflow: hidden;
}

.person-description .line > span {
  display: block;
  opacity: 0;
  transform: translateY(100%);
  will-change: transform;
}

.person-name{
  opacity: 0;
  transform: translateY(100%);
  will-change: transform;
  
}

/* .stake.line:first-child{
  @apply absolute top-[10%] left-[40%] bg-white rotate-90 w-[110%] h-auto md:top-[45] md:left-[40%] origin-[0%_50%] z-6 md:rotate-0 md:w-auto
/* taste morphing */

.lottie{
  clip-path: polygon(0 var(--tilt),100% 0,100% 100%,0 calc(100% - var(--tilt)));
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-yellow);
  font-family: 'Times New Roman', Times, serif;
}

.stake.line:last-child{
  @apply absolute top-[10%] left-[60%] bg-white md:bottom-[45%] md:left-[40%] origin-[0%_50%] z-6 rotate-90 w-[110%] h-auto md:w-fit md:h-[80%] md:rotate-0
} 



@media screen and(min-width:1024) {
  .lottie{
  --tilt:25svh;
  --color-yellow:#e3f794;
  clip-path: polygon(0 var(--tilt),100% 0,100% 100%,0 calc(100% - var(--tilt)));
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-yellow);
  }
}

.curation {
  @apply w-full absolute z-50 top-0 left-0 h-fit min-h-screen
}


.curation .section{
    /* translate: 0% 50%; */
    translate: 0% 50%;
    overflow: hidden;
  }

.curation >.curate{
  @apply h-[70svh] lg:h-[150svh]  bg-primary relative  -mb-[40svh] lg:-mb-[110svh] 
}


.curation .curate-inner{
  @apply text-center text-curate font-cm-geom-regular absolute top-1/2 left-1/2 -translate-1/2 text-nowrap
}


/* zoom effect */


.banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
}

.banner-img-container img{
 
  will-change: transform;
}

.banner-img-container .image.mask{
  position: absolute;
  -webkit-mask-image: url("/pics/zoom/stefan-moertl.png");
  mask-image: url("/pics/zoom/stefan-moertl.png");
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center;
  mask-position: center;
}

.curation .curation-text{
  @apply w-fit h-fit
}
/* circualr carousel */

.panel:nth-child(1){
  @apply w-full h-screen  absolute top-0 left-0 
}

.panel:nth-child(2){
  @apply w-full h-screen absolute top-0 left-0 
}

.thumbNail{
  @apply w-10 h-10 md:w-20 md:h-20 lg:w-25 lg:h-25 absolute top-0 left-0
}

.thumb-slide{
  @apply w-full h-screen absolute text-3xl
}

.images-container{
  @apply w-18 h-45 md:w-22 md:h-66 lg:w-27.5 lg:h-75 relative
}

/* .trailing-image-wraper{
  @apply flex flex-col w-fit h-fit absolute
} */

.trailing-image{
  @apply w-15 h-15 md:w-20 md:h-20 lg:w-25 lg:h-25 absolute 
}
.trailing-image-1{
  @apply w-15 h-15 md:w-20 md:h-20 lg:w-25 lg:h-25  
}

.footer{
  @apply fixed top-2.5 left-1/2 -translate-x-1/2 w-[var(--footer-width)] h-[var(--footer-height)] z-120 lg:inset-[auto_auto_0.75rem_50%] lg:w-[calc(var(--footer-width)_-_var(--grid-margin)_*_2)] xl:max-w-[1440px] xl:mx-auto 
}

.footer-top{
  @apply w-full h-fit p-2 flex justify-between
}

.footer-top > .socials{
  @apply flex gap-1 items-center
}

.icon.is-instagram, .icon.is-x{
  @apply w-4! h-auto block!
}
.icon.is-youtube{
  @apply w-5! h-auto block!
}

.footer-top .extra-buttons{
  @apply flex gap-1 
}

.sign-in-btn{
  @apply text-xs font-dm-mono-regular uppercase font-normal text-button-color
}


.ui-button .btn-inner{
  @apply relative flex justify-center items-center outline-offset-[0.1rem] text-xs text-nowrap text-button-color font-dm-mono-regular font-normal uppercase w-31.5 h-11.5 px-4 py-2 lg:h-10.5
}

.ui-button .btn-inner::before{
  @apply absolute left-0 w-[0.7rem] h-full content-[""]
}
.ui-button .btn-inner::after{
  @apply absolute right-0 w-[0.7rem] h-full content-[""] 
}

.svg-container{
  @apply w-full h-[150%] absolute z-0
}

.btn-inner{
  @apply p-2 h-[var(--button-height)] 
}

.footer > .bg{
@apply absolute inset-0 bg-white
}

.footer .bg{
  --bg-p:min(.965,calc(1 - var(--p)));
  clip-path: inset(0 0 calc((100% - var(--button-height) - var(--shift) * 2) * var(--bg-p)) 0);
}

.bg > .inner{
  @apply w-full h-full flex flex-col justify-between items-center
}

.inner > .top{
  @apply w-full h-10 px-2 bg-primary
}

/* .inner > .bottom{
  @apply w-full h-10 px-2 bg-green-400
} */

.brand{
  @apply w-[calc(var(--shift)_*_60.8)] h-[calc(var(--shift)_*_12.7)] lg:w-192 lg:h-40 relative 
}

.footer .inner .brand{
  --ip:calc(1 - var(--p));
  /* --ip:0; */
transform: translateY(calc((-50% - (50svh - 4.15rem + var(--min-h)) * .5) * var(--ip))) translate(calc((-50vw + var(--spacing) * 1) * var(--ip))) translate(calc(4.585rem * var(--ip)));
 
}

.brand > .svg-typography{
  @apply w-full h-full
}

.brand > .svg-typography{
 transform: scale(calc(var(--min-scale) + (1 - var(--min-scale)) * var(--p)));
}

.footer .bottom{
  @apply w-full h-fit p-2 flex items-center justify-between text-xs font-dm-mono-regular uppercase font-normal text-button-color
}

.footer .bottom > .right-links{
  @apply flex flex-col items-start justify-center 
}


/* @keyframes dashOffsetSmooth {
  from{
    stroke-dashoffset: 314%;
  }
  to{
stroke-dashoffset: -.01%;
  }
} */


.curation >.curate{
  clip-path: polygon(0 var(--tilt),100% 0,100% 100%,0 100%);
  transform: translate(0%, -50%);
}

.curation >.curate .curate-inner{
  transform: translate(0%, -20%);
}

.curation >.your{
  @apply h-[70svh] lg:h-[150svh] bg-white -mb-[40svh] lg:-mb-[115svh]
}


.curation >.your{
  clip-path: polygon(0 0, 100% var(--tilt), 100% 100%, 0 100%);
  transform: translate(0%, -30%);
}

.curation >.your .curate-inner{
  transform: translate(0%, -20%);
}

.lottie{
  @apply h-[60svh] lg:h-[90svh] relative bg-primary
}

.lottie svg{
  @apply absolute top-0 left-0
}

.lottie{
  clip-path: polygon(0 var(--tilt),100% 0,100% 100%,0 calc(100% - var(--tilt)));
}

.curation >.lottie .curate-inner{
  --x-translation:0.0%;
  transform: translate(var(--x-translation),0%) !important;
} 

@media screen and(min-width:768) {
  :root{
     --tilt:15svh;
  }
  .curation .section{
    translate: 0% 37%;
  }

  .curation >.curate{
  clip-path: polygon(0 var(--tilt),100% 0,100% 100%,0 100%);
  transform: translate(0%, -50%);
}
.curation >.your{
  clip-path: polygon(0 0, 100% var(--tilt), 100% 100%, 0 100%);
  transform: translate(0%, -30%);
}

}

@media screen and (min-width:1024px) {

   :root{
  --desktop-width:1512;
  --desktop-height: 982;
  --tilt:25svh;
  --curate-font-size:max(250px, min(100 * calc(250 / var(--desktop-width)) * 1vw, 100 * calc(250 / var(--desktop-height)) * 1svh));
   --min-scale:.15625;
    --grid-margin:.75rem;
    --min-w:max(33vw,475px);
  }

  html{
    font-size: 19px;
  }
 
    .footer .bg {
    --bg-p: calc(1 - var(--p));
    background-color: #fff;
    clip-path: inset(calc((100% - var(--min-h)) * var(--bg-p)) calc((50% - var(--min-w) * 0.5) * var(--bg-p)) 0% calc((50% - var(--min-w) * 0.5) * var(--bg-p)));
  }

  .footer-top .extra-buttons {
    --side-shift: calc((var(--footer-width) - var(--min-w)) * 0.5);
    --ip:calc(1 - var(--p));
    transform: translateY(calc((var(--footer-height) - 100% - var(--shift) * 2.5) * var(--ip))) translate(calc((var(--side-shift) * -1 + var(--grid-margin) + var(--shift)) * var(--ip)));
  }

  .footer .inner .brand {
    --ip: calc(1 - var(--p));
    /* --ip:0.; */
    transform: translateY(calc((50% + (50svh - 10.5rem + var(--min-h)) * 0.5) * var(--ip))) translate(calc((var(--min-w) * -0.5 + var(--shift) * 2) * var(--ip))) translate(calc(4.15rem * var(--ip)));
  }

  .brand > .svg-typography{
 transform: scale(calc(var(--min-scale) + (1 - var(--min-scale)) * var(--p)));
}


  .brand > .svg-typography{
 transform: scale(calc(var(--min-scale) + (1 - var(--min-scale)) * var(--p)));
}


  .curation >.curate{
  clip-path: polygon(0 var(--tilt),100% 0,100% 100%,0 100%);
  transform: translate(0%, -37%);
}

.curation >.your{
  clip-path: polygon(0 0, 100% var(--tilt), 100% 100%, 0 100%);
  transform: translate(0%, -23%);
}

  .curation .section{
    @apply relative
  }
  .curation .section{
    translate: 0% 37%;
  }

  .curation >.curate .curate-inner{
  transform: translate(0%,-45%);
} 

.curation >.your .curate-inner{
  transform: translate(0%, -55%);
}



  /* .lottie{
  
  clip-path: polygon(0 var(--tilt),100% 0,100% 100%,0 calc(100% - var(--tilt)));
  
  } */
}

