@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');
@import "tailwindcss";

:root{
  --tilt:10svh;
  --color-yellow:#e3f794;
  --curate-font-size:5.8rem;
}

@theme{

  --font-federant-regular:"Federant", serif;
  --font-cm-geom-regular:"CM Geom", serif;
  --color-primary: var(--color-yellow);
  --text-curate:var(--curate-font-size);
  /* --text-curate--line-height: .5rem;   */
  --text-curate--font-weight: 400; 
}

@font-face {
  font-family: "CM Geom";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/cmgeom-regular.woff2") format("woff2");
}

body{
  @apply w-full xl:w-full xl:max-w-[1440px] h-screen min-h-screen mx-auto
<<<<<<< HEAD
<<<<<<< HEAD
   relative  font-federant-regular
}

#root{
  @apply w-full h-full bg-[#fffddd] 
=======
  overflow-x-hidden relative  
=======
   relative  
>>>>>>> feat/taste-morphing-mobile
}

#root{
  @apply w-full h-full bg-white 
>>>>>>> taste-morphing
}

.is-active{
  z-index: 4;
}

.is-old{
  z-index: 3;
}

.intial-pos{
  position: absolute;
}



.bg-item{
  @apply font-federant-regular
}

.bg-item.is-active .img:first-child{
  -webkit-mask: url("#radial-mask-left");
  mask: url("#radial-mask-left");
}

.bg-item.is-active .img:last-child{
  -webkit-mask: url("#radial-mask-right");
  mask: url("#radial-mask-right");
}

.btn-controller{
  @apply absolute bottom-10! left-1/2 -translate-x-1/2 flex gap-4
}

.mouse-pointer{
  @apply bg-green-400 w-10 h-10 lg:w-20 lg:h-20 rounded-full  transition-transform duration-100 absolute z-20
}

.person-name{
  @apply absolute top-1/5 left-1/2 -translate-y-1/5 -translate-x-1/2 lg:top-[47.5%] lg:-translate-y-[47.5%] lg:left-1/4 lg:-translate-x-1/4 text-lg lg:text-xl xl:text-3xl text-white uppercase max-w-45 text-center
}

.person-description{
  @apply text-sm lg:text-xl xl:text-4xl text-white whitespace-pre-line w-50 lg:w-70 xl:w-100 xl:max-w-150
}

.person-description:nth-child(2){
  @apply absolute  lg:top-1/20 right-4 lg:right-8 hidden lg:block
}

.person-description:nth-child(3){
  @apply absolute top-1/2 -translate-y-1/2 lg:right-8  uppercase w-45 lg:w-70 xl:w-100 
}

.person-description:nth-child(3) .line{
  @apply text-center! lg:text-start! text-2xl
}


.person-description .line {
  display: inline-block;
  overflow: hidden;
}

.person-description .line > span {
  display: block;
  opacity: 0;
  transform: translateY(100%);
  will-change: transform;
}

.person-name{
  opacity: 0;
  transform: translateY(100%);
  will-change: transform;
  
}

/* .stake.line:first-child{
  @apply absolute top-[10%] left-[40%] bg-white rotate-90 w-[110%] h-auto md:top-[45] md:left-[40%] origin-[0%_50%] z-6 md:rotate-0 md:w-auto
}

.stake.line:last-child{
  @apply absolute top-[10%] left-[60%] bg-white md:bottom-[45%] md:left-[40%] origin-[0%_50%] z-6 rotate-90 w-[110%] h-auto md:w-fit md:h-[80%] md:rotate-0
} */

/* .svg-container{
  @apply absolute -top-20 -left-10
=======
.curation{
 --curation-progress:0.0;
}
=======
.curation .section{
    translate: 0% 50%;
    overflow: hidden;
  }
>>>>>>> feat/taste-morphing-mobile

.curation >.curate{
  @apply h-[70svh] lg:h-[150svh]  bg-primary relative  -mb-[40svh] lg:-mb-[110svh] 
}
/* .curation >.curate{
  @apply h-[70svh] lg:h-[150svh] -mb-[40svh] lg:-mb-[110svh] bg-primary relative 
} */

.curation .curate-inner{
  @apply text-center text-curate font-cm-geom-regular absolute top-1/2 left-1/2 -translate-1/2 text-nowrap
}
/* .curation .curate-inner{
  @apply w-full   text-center pt-[25svh] pb-[40svh] text-curate font-cm-geom-regular 
>>>>>>> taste-morphing
} */


.curation .curation-text{
  @apply w-fit h-fit
}


.curation >.curate{
  clip-path: polygon(0 var(--tilt),100% 0,100% 100%,0 100%);
  transform: translate(0%, -50%);
}

.curation >.curate .curate-inner{
  transform: translate(0%, -20%);
}

.curation >.your{
  @apply h-[70svh] lg:h-[150svh] bg-white -mb-[40svh] lg:-mb-[115svh]
}


.curation >.your{
  clip-path: polygon(0 0, 100% var(--tilt), 100% 100%, 0 100%);
  transform: translate(0%, -30%);
}

.curation >.your .curate-inner{
  transform: translate(0%, -20%);
}

.lottie{
  @apply h-[60svh] lg:h-[90svh] relative bg-primary
}

.lottie svg{
  @apply absolute top-0 left-0
}

.lottie{
  clip-path: polygon(0 var(--tilt),100% 0,100% 100%,0 calc(100% - var(--tilt)));
}

.curation >.lottie .curate-inner{
  --x-translation:0.0%;
  transform: translate(var(--x-translation),0%) !important;
} 

@media screen and(min-width:768) {
  :root{
     --tilt:15svh;
  }
  .curation .section{
    translate: 0% 37%;
  }

  .curation >.curate{
  clip-path: polygon(0 var(--tilt),100% 0,100% 100%,0 100%);
  transform: translate(0%, -50%);
}
.curation >.your{
  clip-path: polygon(0 0, 100% var(--tilt), 100% 100%, 0 100%);
  transform: translate(0%, -30%);
}

/* .curation >.lottie .curate-inner{
  --x-translation:0.0%;
  transform: translate(var(--x-translation),0%) !important;
}  */

}

@media screen and (min-width:1024px) {

  :root{
  --desktop-width:1512;
  --desktop-height: 982;
    --tilt:25svh;
    --curate-font-size:max(250px, min(100 * calc(250 / var(--desktop-width)) * 1vw, 100 * calc(250 / var(--desktop-height)) * 1svh));
  }

  .curation >.curate{
  clip-path: polygon(0 var(--tilt),100% 0,100% 100%,0 100%);
  transform: translate(0%, -37%);
}

.curation >.your{
  clip-path: polygon(0 0, 100% var(--tilt), 100% 100%, 0 100%);
  transform: translate(0%, -23%);
}

  .curation .section{
    @apply relative
  }
  .curation .section{
    translate: 0% 37%;
  }

  .curation >.curate .curate-inner{
  transform: translate(0%,-45%);
} 

.curation >.your .curate-inner{
  transform: translate(0%, -55%);
}



  /* .lottie{
  
  clip-path: polygon(0 var(--tilt),100% 0,100% 100%,0 calc(100% - var(--tilt)));
  
  } */
}

